body {
    background-color:#DFDFE1;
    color:#1C1C1E;
  }
  
  main > h1 {
    text-align: center;
    font-weight: 200;
    text-decoration: overline underline;
  }
  
  main {
    background-color: #FFFFFF;
    padding: 10px 40px 25px;
    box-sizing: border-box; /*si no pongo esto, cuando aumente el padding, la caja blanca crecerá y dejará de estar centrada (tendría q ajustar el margin)*/
    width: 40%; /*le he dicho que ocupe el 40% de su padre (body)*/
    margin: 0 30% 0; /*le he dicho que se sitúe al 30% del espacio del padre, pq sumado a los otros 30 y a los 40 que mide el div, suman 100*/
    border-radius: 15px;
  }
  
  .title {
      text-decoration: underline;
  }
  
  div {
    display: inline-block; /*es como si fueran inline PERO respeta el ancho y el alto.*/
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    height: 90px;
    width: 90px;
  }
  
  .color-fuchsia-1 {
    background-color: #AB0232;
  }
  
  .color-fuchsia-2 {
    background-color: #CA023B;
  }
  
  .color-fuchsia-3 {
    background-color: #FFEBF0;
  }
  
  .color-grey-1 {
    background-color: #1C1C1E;
    color: white;
  }
  
  .color-grey-2 {
    background-color: #DFDFE1;
  }
  
  .color-grey-3 {
    background-color: #FFFFFF;
    border: black solid 1px;
  }
  
  .font {
    font-famlily: 'Lato', sans-serif;
  }
  
  button, a {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #AB0232;
    padding: 10px 25px;
    font-famlily: 'Lato', sans-serif;
    font-size: 12;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  .secondary {
    background-color: #DFDFE1;
    color: #1C1C1E;
  }

  button:hover, a:hover {
    background-color: #CA023B;
  }