body {
    background-color:#DFDFE1;
    color:#1C1C1E;
    font-family: sans-serif;
  }
  
  main > h1 {
    text-align: center;
    font-weight: 200;
    text-decoration: overline underline;
  }
  
  main {
    background-color: #FFFFFF;
    padding: 10px 40px 25px;
    box-sizing: border-box; /*si no pongo esto, cuando aumente el padding, la caja blanca crecerá y dejará de estar centrada (tendría q ajustar el margin)*/
    width: 40%; /*le he dicho que ocupe el 40% de su padre (body)*/
    margin: 0 30% 0; /*le he dicho que se sitúe al 30% del espacio del padre, pq sumado a los otros 30 y a los 40 que mide el div, suman 100*/
    border-radius: 15px;
  }
  
  .title {
      text-decoration: underline;
  }
  
  div {
    display: inline-block; /*es como si fueran inline PERO respeta el ancho y el alto.*/
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    height: 90px;
    width: 90px;
  }
  
  .color-fuchsia-1 {
    background-color: #AB0232;
  }
  
  .color-fuchsia-2 {
    background-color: #CA023B;
  }
  
  .color-fuchsia-3 {
    background-color: #FFEBF0;
  }
  
  .color-grey-1 {
    background-color: #1C1C1E;
    color: white;
  }
  
  .color-grey-2 {
    background-color: #DFDFE1;
  }
  
  .color-grey-3 {
    background-color: #FFFFFF;
    border: black solid 1px;
  }
  
  .font {
    font-family: 'Lato', sans-serif;
  }
  
  button, a, input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #AB0232;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 12;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  .secondary {
    background-color: #DFDFE1;
    color: #1C1C1E;
  }
  
  button:hover, a:hover, input[type="submit"]:hover {
    background-color: #CA023B;
  }
  
  .secondary:hover {
    background-color: #FFFFFF;
    border: #DFDFE1 1px solid;
  }
    
  form {
    box-sizing: border-box;  
    width: 90%;
    margin: 0 5% 0;
    padding: 10px 20px;
    border: 3px solid #AB0232;
    border-radius: 38px;
  }
  
  .form, textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra ya que por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em;
    font-family: 'Lato', sans-serif;
    /* Tamaño uniforme del campo de texto */
    box-sizing: border-box;
    width: 100%;
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid silver;
  }
  
  [type="checkbox"]:checked {
    box-shadow: 0 0 0 3px #AB0232;
  }

  [type="submit"] {
    margin: 15px 300px; /*esto es un apaño mal hecho pq está hehco a ojo*/
  }